/*
 * Style twaks
 * --------------------------------------------------
 */
body {
	padding-top: 70px;
}
footer {
	padding-left: 15px;
	padding-right: 15px;
}
.content { min-height: 400px; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {

	.container {
		overflow-x: hidden;
	}

	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}

.sidebar-nav .nav:empty:after {
	display: block;
	color: rgba(0, 0, 0, 0.3);
	text-align: center;
}
.sidebar-nav.sidebar-users .nav:empty:after { content: "No users found"; }
.sidebar-nav.sidebar-chats .nav:empty:after { content: "No chats found"; }



.nav .nav-hidden:not(.active) { display: none; }


.users:empty:after,
.chats:empty:after {
	display: block;
	color: rgba(0, 0, 0, 0.3);
	text-align: center;
}
.users:empty:after { content: "No users found"; }
.chats:empty:after { content: "No chats found"; }