<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand lib_dispatcher-link" href="/">Gleam demo</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="lib_navigation-item" data-lib_navigation-match="/chat"><a href="/chat" class="lib_dispatcher-link">Chats</a></li>
				<li class="lib_navigation-item" data-lib_navigation-match="/chat/add"><a href="/chat/add" class="lib_dispatcher-link">Create chat</a></li>
				<li class="lib_navigation-item" data-lib_navigation-match="/user"><a href="/user" class="lib_dispatcher-link">People</a></li>
			</ul>
		</div>
	</div>
</div>