<div class="app_controllers_chat-add2">
	<div class="page-header">
		<h1>Create room <small>No HTML5 validation, no Entity</small></h1>
	</div>

	
	
	<div class="row row-offcanvas row-offcanvas-right jsSidebar \">
		<div class="col-xs-12 col-sm-9">
			<p class="pull-right visible-xs">
				<button type="button" class="btn btn-primary btn-xs jsSidebar-toggle">Toggle nav</button>
			</p>


			<form class="app_controllers_chat-add2-form" role="form" action="/chat/add" method="POST">
				<div class="form-group">
					<label for="id">Link</label>
					<input type="text" class="form-control" id="id" name="id" value="" placeholder="Enter chat link">
				    <p class="help-block">Lowercase letters, numbers, dash and underscore only [a-z_\-0-9]</p>
				</div>
				<div class="form-group">
					<label for="name">Title</label>
					<input type="text" class="form-control" id="name" name="name" value="" placeholder="Enter chat name">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>

		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas lib_layout" id="sidebar" role="navigation" 
				data-lib_layout-template="widgets/sidebar/chats"></div>
	</div>
	
</div>
